[Unit]
Description=Uctronics display
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/home/admin/uctronics-env/bin/python /opt/ssd1306_stats.py

[Install]
WantedBy=multi-user.target  